<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./frame-22.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=210 Hayanbaram:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=GamtanRoad Batang TTF:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=GamtanRoad Dotum TTF:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="parent1">
      <img class="icon4" alt="" src="./public/-1--2-3@2x.png" />

      <div class="frame-child16"></div>
      <div class="frame-child17"></div>
      <div class="frame-child18"></div>
      <div class="frame-child19"></div>
      <div class="frame-child20"></div>
      <div class="frame-child21"></div>
      <div class="frame-child22"></div>
      <div class="frame-child23"></div>
      <b class="b4">법명</b>
      <b class="b5">내용</b>
    </div>
  </body>
</html>
