<!DOCTYPE html> <!--페이지 1-->
{% load static %}
<html>
    <head>
            <meta charset="utf-8" />    
            <link rel="stylesheet" type="text/css" href="{% static 'css/main/community_108.css'%}"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>수행의 전당</title>
    </head>
    <body>
        <div class = "screen">
            <div class = "topnav">
                <a class="onjung" href="{% url 'main:mainpage' %}">
                    온정
                </a>              
            </div>
            <div class = "frametop">
                <img class="icon-place" alt="안뜸" src="{%static 'images/mainpage_img/img-building.png'%}"/>
                <div class="buttons">
                    <a class="do108-button" href="{% url 'post:start_108' %}">번뇌 다스리러 가기</a>
                    <a class="mainpage-button" href="{% url 'main:mainpage' %}">홈으로 돌아가기</a>
                </div>
            </div>
            
            
            <div class="postbox">
                <div style="display: flex; flex-wrap: wrap; gap: 50px;">
                    {% for sharedwish in sharedwishes %}
                    <div class="frame-post">
                        <a href="{% url 'post:detail_108' %}"> 
                            <img class="post-background" alt="안뜸" src="{%static 'images/mainpage_img/img-post-background.png'%}"/>
                            <div class="frame-text">
                                <div class="post-username">
                                    <img class="lotus-username" alt="안뜸" src="{%static 'images/mainpage_img/img-lotus-mini.png'%}"/>
                                    <div class="db_username">{{sharedwish.wish.user.username}}</div>
                                </div>
                                <div class="post-time">
                                    <div class="db_time">{{ sharedwish.wish.created_at }}</div>
                                </div>
                                <div class="post-title">
                                    <div class="db_title">번뇌명 | {{ sharedwish.wish.title }}</div>
                                    <div class="ok108">108배 수행 성공</div>
                                </div>
                                <div class="icons">
                                    <div class = "likes">
                                        <img class="img-like" alt="안뜸" src="{%static 'images/mainpage_img/img-like.png'%}"/>
                                        <div class ="db_like">공감 {{ sharedwish.wish.like_count }}개</div>
                                    </div>
                                    <img class="img-detail" alt="안뜸" src="{%static 'images/mainpage_img/img-detail.png'%}"/>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>