<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/do_108/root.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=210 Hayanbaram:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=GamtanRoad Batang TTF:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=GamtanRoad Dotum TTF:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="root">
      <img class="icon2" alt="" src="./public/-1--2-3@2x.png" />

      <section class="root-inner">
        <div class="onjeong-parent">
          <div class="onjeong">
            <a class="a3">온정</a>
          </div>
          <div class="div16">
            <p class="p15">“ 연기적 삶은 ‘나’ 혹은 ‘내 삶’에 얽매임 없이</p>
            <p class="p16">
              변화와 관계로서의 열린 자세로 자유롭게 역사를 꾸려가는 것이다 ”
            </p>
          </div>
        </div>
      </section>
      <div class="frame-parent11">
        <img
          class="frame-child13"
          loading="lazy"
          alt=""
          src="./public/group-188@2x.png"
        />

        <div class="instruction-wrapper">
          <div class="instruction">
            <div class="div17">마음 속 번뇌를 다스리며 버튼을 눌러주세요</div>
            <div class="counter">
              <div class="button-shape-parent">
                <div class="button-shape">
                  <img
                    class="button-shape-child"
                    alt=""
                    src="./public/group-189@2x.png"
                  />

                  <img class="vector-icon1" alt="" src="./public/vector.svg" />

                  <img
                    class="vector-icon2"
                    loading="lazy"
                    alt=""
                    src="./public/vector-1.svg"
                  />

                  <img
                    class="button-background-icon"
                    alt=""
                    src="./public/vector-2.svg"
                  />

                  <img
                    class="vector-icon3"
                    alt=""
                    src="./public/vector-3.svg"
                  />

                  <img
                    class="vector-icon4"
                    alt=""
                    src="./public/vector-4.svg"
                  />

                  <img
                    class="button-background-icon1"
                    alt=""
                    src="./public/vector-5.svg"
                  />

                  <img
                    class="vector-icon5"
                    alt=""
                    src="./public/vector-6.svg"
                  />

                  <img
                    class="vector-icon6"
                    alt=""
                    src="./public/vector-7.svg"
                  />

                  <img
                    class="vector-icon7"
                    alt=""
                    src="./public/vector-8.svg"
                  />
                </div>
                현재 108배 수 : {{count}} <br>
                <div class="counter-label-wrapper">
                <form action = "{% url "post:do_108" %}" method="POST">
                {% csrf_token %}
                  <button class="counter-label">
                    <b class="b1"  >
                        108번 더 절하기</b>
                  </button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
