
<!DOCTYPE html> <!--페이지 1-->
{% load static %}
<html>
  <head>
      <meta charset="utf-8" />    
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/future_page.css'%}"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Title</title>
</head>

<body>
  <div class = "body">
    <div class = "screen">
      <div class = "topnavbar">
        <div class = "onjung">온정</div>
      </div>
      <div class = "frame-reply">
        <div class = "icon-wrap">
          <img class="icon" alt="안뜸" src="{%static 'images/mainpage_img/acho.png'%}"/>
        </div>
      </div>
        <div class = "reply-text">
          <div class = "text-wrapper-acco">
            <div class = "acco-reply">아코 스님의 답변</div>
          </div>
        </div>
        <div class = "reply-message">
          <div class="message-bup-title">법구경 116장</div>
          <div class="message-bup">"달디달디달디달</div>  
          <div class="message-bup">내가 먹고 싶었던건</div>
          <div class="message-bup"> 달디달디달디단</div>
          <div class="message-bup">밤양 갱 갱 갱 </div>
          <div class="message-bup">심바심바심바톤 빠이팅"</div>
        </div>  
      </div>
    </div>
  </div>
</body>
</html>


<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/future_page.css'%}"
  
/>

  