<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=210 Hayanbaram:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=GamtanRoad Batang TTF:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=GamtanRoad Dotum TTF:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="main">
      <img class="icon" alt="" src="./public/-1--2-3@2x.png" />

      <img class="icon1" loading="lazy" alt="" src="./public/-2--10-1@2x.png" />

      <section class="main-inner">
        <div class="inner-content-parent">
          <div class="inner-content">
            <a class="a2">온정</a>
          </div>
          <div class="div14">
            <p class="p10">
              <span>
                <span class="span">108번뇌</span>
                <span
                  >란 사람의 6가지 감각 기관에서부터 나오는 모든 번뇌들을
                  의미합니다.
                </span>
              </span>
            </p>
            <p class="p11">
              <span>
                <span class="span1">108배</span>
                <span
                  >란 108번 절을 하며, 108번뇌로 흩어진 마음을 하나로 모으는
                  것을 의미합니다.</span
                >
              </span>
            </p>
            <p class="blank-line">
              <span>
                <span>&nbsp;</span>
              </span>
            </p>
            <p class="p12">
              <span>
                <b>현재 삶 속에 가지고 있는 고민이 있나요?</b>
              </span>
            </p>
          </div>
        </div>
      </section>
      <div class="action-inner-parent">
        <div class="action-inner">
          <img class="union-icon" alt="" src="./public/union.svg" />

          <div class="div15">
            <p class="p13">
              108배를 드리며 번뇌를 다스리고 어지러운 마음을 하나로 모아보세요.
            </p>
            <p class="p14">
              그럼에도 풀리지 않는 번뇌가 있다면, 부처님께 말씀드려 훌훌
              털어주세요.
            </p>
          </div>
        </div>
        <div class="button-container">
          <button class="inner-button">
            <a class="text-wrapper-3" href="{% url "post:init_108" %}">입장하기</b>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
