<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />    
    <link rel="stylesheet" type="text/css" href="{% static "css/main/talisman_post.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="onjung">온정</div>
        <div class="text">
            <div class="text1"><strong>(법명)님이 간절히 바라는 염원은 무엇인가요?</strong></div>
            <div class="text2">아코 스님의 기를 받고 싶은 분야를 선택하고 법명 님의 이야기를 작성해주세요.</div>
        </div>

        <div id="nemobox">
            <div class="nemobox1">학업</div>
            <div class='v-line'></div>
            <div class="nemobox2">연애</div>
            <div class='v-line'></div>
            <div class="nemobox3">재물</div>
            <div class='v-line'></div>
            <div class="nemobox4">취업</div>
            <div class='v-line'></div>
            <div class="nemobox5">건강</div>
        </div>

        <form id="review-form" class="review-container">
            <div class="review-box" contenteditable="true" id="review" placeholder="내용을 입력해주세요">이야기 작성하기</div>
            <button type="button" class="submit-button" onclick="submitReview()">제출</button> <!-- 링크 page2 연결해야 함-->
        </form>

        <div class="textbottom">* 해당 이야기는 아무에게도 공유되지 않습니다.</div>
</body>
</html>