<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />    
    <link rel="stylesheet" type="text/css" href="{% static "css/main/talisman_post.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Title</title>
</head>

<body>

    <div class = "screen">
        <div class = "topnav">
            <a href="{% url "main:mainpage" %}">
                <div class = "onjung">온정</div>
            </a>
        </div> <!--topnav 닫는 태그-->

        <div class="text">
            <div class="text1"><strong>{{user.username}}님이 간절히 바라는 염원은 무엇인가요?</strong></div>
            <div class="text2">아코 스님의 기를 받고 싶은 분야를 선택하고 <strong>{{user.username}}</strong> 님의 이야기를 작성해주세요.</div>
        </div>

        <div id="nemobox" class="nemobox">
            <div id="non-click" class="nemobox1" onclick="selectCategory(1)">학업</div>
            <div class='v-line1'></div>
            <div id="non-click" class="nemobox2" onclick="selectCategory(2)">연애</div>
            <div class='v-line2'></div>
            <div id="non-click" class="nemobox3" onclick="selectCategory(3)">재물</div>
            <div  class='v-line3'></div>
            <div id="non-click" class="nemobox4" onclick="selectCategory(4)">취업</div>
            <div class='v-line4'></div>
            <div id="non-click" class="nemobox5" onclick="selectCategory(5)">건강</div>
        </div>
        
        <form id="review-form" class="review-container" method="post" action="{% url "post:talisman" %}">
            {% csrf_token %}
            <input type="hidden" id="selected-category" name="category">
            <textarea class="review-box" name="text" id="review" placeholder="내용을 입력해주세요"></textarea>
            <button type="submit" class="submit-button">제출</button>
        </form>
        
        <script>
            let selectedCategory = null;
        
            function selectCategory(category) {
                if (selectedCategory !== null) {
                    document.querySelector('.nemobox' + selectedCategory).classList.remove('selected');
                }
                selectedCategory = category;
                document.querySelector('.nemobox' + category).classList.add('selected');
                document.getElementById('selected-category').value = category;
            }


            const nonClick = document.querySelectorAll("#non-click");

function handleClick(event) {
  // div에서 모든 "click" 클래스 제거
  nonClick.forEach((e) => {
    e.classList.remove("click");
  });
  // 클릭한 div만 "click"클래스 추가
  event.target.classList.add("click");
}

nonClick.forEach((e) => {
  e.addEventListener("click", handleClick);
});
        </script>

        {% comment %} <div class="textbottom">* 해당 이야기는 아무에게도 공유되지 않습니다.</div> {% endcomment %}

    </div> <!--스크린 닫는 태그-->
</body>
</html>