<!DOCTYPE html> <!--페이지 1-->
{% load static %}
<html>
    <head>
            <meta charset="utf-8" />    
            <link rel="stylesheet" type="text/css" href="{% static 'css/main/talisman_end.css'%}"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Page Title</title>

<body>
  <div class = "screen">
    <div class = "topnav">
        <a href="{% url "main:mainpage" %}">
            <div class = "onjung">온정</div>
        </a>
    </div> <!--topnav 닫는 태그-->


      <div id="acoong">
        <div class="column">
          <div class="naranhi">
          <img src="https://ifh.cc/g/9Fgr2s.png">
          <img class="malmal" src="https://ifh.cc/g/q3Vy76.png">
          </div> <!--나란히 닫는 태그-->
        <div id="nemo">@@@@@@@ 이 네모 레이아웃으로 부적 사진 불러오면 됨!</div> <!--부적 데이터가 필요한 공간!-->
        </div>
      </div>

      <div id="three_buttons">
      
        <div id="btn">
          <img id="btn_img" src="https://ifh.cc/g/5J2MVJ.png">
          <p id="btn_text">다시 제작하기</p>
        </div>

        {% comment %} <div id="btn">
          <a href="https://your-link-here.com">
              <img id="btn_img" src="https://ifh.cc/g/5J2MVJ.png">
              <p id="btn_text">다시 제작하기</p>
          </a>
      </div> {% endcomment %}

        <div id="btn">
          <img id="btn_img" src="https://ifh.cc/g/56JHOb.png">
          <p id="btn_text"><a href="{% static 'images/mainpage_img/acho.png' %}" download>부적 저장하기</a></p>
        </div>

        <div id="btn">
          <a href="{% url "main:mainpage" %}">
          <img id="btn_img" src="https://ifh.cc/g/5bDcgY.png">
          <p id="btn_text">홈으로 돌아가기</p>
          </a>
        </div>

      </div> <!--screen 닫는 태그-->



    </body>