<!DOCTYPE html> <!--페이지 1-->
{% load static %}
<html>
<head>
    <meta charset="utf-8" />    
    <link rel="stylesheet" type="text/css" href="{% static "css/main/talisman_ing.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Title</title>
</head>

<body>
  <div class = "screen">
    <div class = "topnav">
        <a href="{% url "main:mainpage" %}">
            <div class = "onjung">온정</div>
        </a>
    </div> <!--topnav 닫는 태그-->

    
    <div class="aco_center">
      <img class="aco" src="https://ifh.cc/g/zacTpW.png">
      <div class="bujuck"> 부적 제작 중...</div>
    </div>


    <div class="brushandgage">
      <img class="brush" src="https://ifh.cc/g/QM8GVp.png">
      <progress id="progress" value="1" min="0" max="100"></progress>
    </div>

  </div>  <!--스크린 닫는 태그-->

  <script>
    setTimeout("location.href='{% url "post:talisman_end" %}'", 4000);  
    // progress.js
document.addEventListener('DOMContentLoaded', () => {
  const progress = document.getElementById('progress');

  let start = 1;
  const end = 100;
  const duration = 3000; // 3 seconds
  const increment = (end - start) / (duration / 10);

  const updateProgress = () => {
      start += increment;
      if (start <= end) {
          progress.value = start;
          setTimeout(updateProgress, 10);
      }
  };

  updateProgress();
});

</script>

      
</body>

</html>