<!DOCTYPE html> <!--페이지 1-->
{% load static %}
<html>
<head>
    <meta charset="utf-8" />    
    <link rel="stylesheet" type="text/css" href="{% static "css/main/talisman_ing.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Title</title>
</head>

<body>
  <div class = "screen">
    <div class = "topnav">
        <a href="{% url "main:mainpage" %}">
            <div class = "onjung">온정</div>
        </a>
    </div> <!--topnav 닫는 태그-->

    
    <div class="aco_center">
      <img class="aco" src="https://ifh.cc/g/zacTpW.png">
      <div class="bujuck"> 부적 제작 중...</div>
    </div>


    <div class="brushandgage">
      <img class="brush" src="https://ifh.cc/g/QM8GVp.png">
      <svg class="gage" xmlns="http://www.w3.org/2000/svg" width="519" height="16" viewBox="0 0 519 16" fill="none">
        <path d="M7.5293 8.36621H511.492" stroke="url(#paint0_linear_2696_1296)" stroke-width="15" stroke-linecap="round"/>
        <defs>
          <linearGradient id="paint0_linear_2696_1296" x1="511.492" y1="8.86622" x2="7.5293" y2="8.86622" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFB55E"/>
            <stop offset="1" stop-color="#FF9C27"/>
          </linearGradient>
        </defs>
      </svg>
    </div>

  </div>  <!--스크린 닫는 태그-->

  <script>
    setTimeout("location.href='{% url "post:talisman_end" %}'", 3000);  
</script>

      
</body>

</html>