.icon2 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .a3 {
    text-decoration: none;
    height: 50px;
    position: relative;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    min-width: 90px;
    z-index: 1;
  }
  .onjeong {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .p15 {
    margin-block-start: 0;
    margin-block-end: 20px;
  }
  .p16 {
    margin: 0;
  }
  .div16 {
    width: 647px;
    height: 70px;
    position: relative;
    font-size: var(--font-size-6xl);
    line-height: 30px;
    font-family: var(--font-gamtanroad-dotum-ttf);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .onjeong-parent,
  .root-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .onjeong-parent {
    flex: 1;
    flex-direction: column;
    gap: 45.5px;
  }
  .root-inner {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-8xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-violet);
    font-family: var(--font-gamtanroad-batang-ttf);
  }
  .div17,
  .frame-child13 {
    position: relative;
    z-index: 1;
  }
  .frame-child13 {
    align-self: stretch;
    height: 464.8px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .div17 {
    height: 26px;
    display: inline-block;
  }
  .button-shape-child {
    position: absolute;
    top: 10.7px;
    left: 0;
    width: 405.6px;
    height: 12.3px;
    object-fit: contain;
    z-index: 1;
  }
  .vector-icon1,
  .vector-icon2 {
    position: absolute;
    top: 0;
    left: 306.4px;
    width: 12.7px;
    height: 20px;
    z-index: 2;
  }
  .vector-icon2 {
    top: 8.4px;
    left: 313.8px;
    width: 11.7px;
    height: 10px;
    z-index: 3;
  }
  .button-background-icon,
  .vector-icon3,
  .vector-icon4 {
    position: absolute;
    top: 19.2px;
    left: 308.6px;
    width: 8.2px;
    height: 12.3px;
    z-index: 3;
  }
  .vector-icon3,
  .vector-icon4 {
    left: 304.6px;
    width: 5.6px;
    height: 7.6px;
    z-index: 4;
  }
  .vector-icon4 {
    top: 15.7px;
    left: 310.7px;
    width: 20.6px;
    height: 8.7px;
  }
  .button-background-icon1,
  .vector-icon5 {
    position: absolute;
    top: 6.5px;
    left: 294.9px;
    width: 14.9px;
    height: 12.3px;
    z-index: 3;
  }
  .vector-icon5 {
    top: 14.7px;
    left: 287.9px;
    width: 21.9px;
    height: 8.9px;
    z-index: 5;
  }
  .vector-icon6,
  .vector-icon7 {
    position: absolute;
    top: 21.9px;
    left: 289px;
    width: 21.7px;
    height: 11px;
    z-index: 6;
  }
  .vector-icon7 {
    left: 310.3px;
    width: 20.4px;
    height: 10.9px;
    z-index: 7;
  }
  .button-shape {
    align-self: stretch;
    height: 32.9px;
    position: relative;
  }
  .b1 {
    height: 30px;
    flex: 1;
    position: relative;
    font-size: var(--font-size-11xl);
    display: inline-block;
    font-family: var(--font-gamtanroad-dotum-ttf);
    background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
  }
  .counter-label,
  .counter-label-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .counter-label {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl) var(--padding-52xl);
    background-color: transparent;
    flex: 1;
    border-radius: 18.79px;
    background: linear-gradient(90deg, #fcbe92, #f5914a);
    overflow: hidden;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 1;
  }
  .counter-label-wrapper {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 var(--padding-8xl);
  }
  .button-shape-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 18.9px;
    max-width: 100%;
  }
  .counter {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 var(--padding-mid);
    box-sizing: border-box;
  }
  .counter,
  .instruction,
  .instruction-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .instruction {
    width: 440px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 33.6px;
  }
  .instruction-wrapper {
    width: 670.9px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent11,
  .root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-parent11 {
    width: 686.7px;
    align-items: flex-end;
    gap: 55.4px;
    max-width: 100%;
  }
  .root {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    align-items: flex-start;
    padding: 41.5px 59px 97.6px 609px;
    box-sizing: border-box;
    gap: 73.8px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 26px;
    color: #ff6a00;
    font-family: var(--font-gamtanroad-dotum-ttf);
  }
  @media screen and (max-width: 975px) {
    .root {
      gap: 37px;
      padding-left: 304px;
      padding-right: var(--padding-10xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 950px) {
    .a3 {
      font-size: var(--font-size-21xl);
    }
  }
  @media screen and (max-width: 700px) {
    .onjeong-parent {
      gap: 23px;
    }
    .frame-parent11 {
      gap: var(--gap-9xl);
    }
    .root {
      gap: var(--gap-lg);
      padding-left: 152px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .a3 {
      font-size: var(--font-size-11xl);
    }
    .div16 {
      font-size: var(--font-size-xl);
    }
    .div17 {
      font-size: 21px;
    }
    .counter-label {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .instruction {
      gap: var(--gap-mid);
    }
  }
  