<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>온 정</title>
    <link href="https://fonts.googleapis.com/css?family=210+Hayanbaram&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/accounts/login.css" %}">
    

</head>
<head>
    <meta charset="utf-8" />    
    <link rel="stylesheet" type="text/css" href="{% static "css/accounts/login.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Title</title>
</head>
<body>
    <div class="body">
        <div class="frame-login">
            <div class = "topnav">
                <a class = "onjung" >
                    온정
                </div>
            </div>
            <div class="text-wrapper">로그인하기</div>
            <div class = "frame-boxes">
                <form action="{% url 'accounts:login' %}" method="post" class="form-login">
                    {% csrf_token %}
                    <div class="input-list">
                        <div class="username">
                            <input type="text" class="input-username" name="username" placeholder="법명을 입력해주세요">
                        </div>
                        <div class="password">
                            <input type="password" class="input-password" name="password" placeholder="비밀번호를 입력해주세요">
                        </div>
                    </div>
                    <div class="error">법명 혹은 비밀번호가 틀렸습니다.</div>
                    <div class="buttons">
                        <button type="submit" class="login-submit">
                            로그인
                        </button>
                        <button type="submit" class="link-signup">
                            회원가입
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</body>
</html>
