<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>온 정</title>
    <link href="https://fonts.googleapis.com/css?family=210+Hayanbaram&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/accounts/signup.css" %}">
    

</head>
<head>
    <meta charset="utf-8" />    
    <link rel="stylesheet" type="text/css" href="{% static "css/accounts/signup.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>회원가입 - 온정</title>
</head>
<body>
    <div class="body">
        <div class="frame-login">
            <div class = "topnav">
                <div class = "onjung">
                    온정
                </div>
            </div>
            <div class="text-wrapper">회원가입하기</div>
            <div class = "frame-boxes">
                <form action="{% url 'accounts:login' %}" method="post" class="form-login">
                    {% csrf_token %}
                    <div class="input-list">
                        <div class="username">
                            <div class = "username-guide">
                                <div class = "guide-text">1. 서비스 내에서 활용할 법명을 지어주세요.</div>
                                <img class="icon" alt="안뜸" src="{%static 'images/mainpage_img/qm.png'%}"/>
                            </div>
                            <input type="text" class="input-username" name="username" placeholder="한글, 숫자 포함해주세요">
                            <div class = "error">중복입니다. 다른 법명을 입력해주세요.</div>
                        </div>
                        <div class="password">
                            <div class ="password-guide">
                                <div class = "guide-text">2. 비밀번호를 입력해수제요.</div>
                            </div>
                            <input type="password" class="input-password" name="password" placeholder="영문, 숫자 포함 5자 이상">
                        </div>
                    </div>
                    
                    <div class="buttons">
                        <button type="submit" class="link-signup">
                            회원가입하기
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</body>
</html>
