body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    margin: 0;
    background-image: url('https://ifh.cc/g/7HHHlD.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}
    body {
        animation: fadein 2s forwards; /* 애니메이션 실행 */
    }
    
    @keyframes fadein {
        0%, 15% {
        background-color: #ffffff;
        opacity: 0; /* 0%부터 15%까지 투명도 유지 */
        }
        100% {
        opacity: 1; /* 100%에서 투명도 1로 변화 */
        }
    }
    a {
        text-decoration: none;
    }
.screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    padding-bottom: 90px;
}

.screen .topnav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width : 1200px; 
    height: 120px;
    
}
.screen .onjung{
    font-size: 40px;
    font-weight: 600;
    color: #FF6A00;
}

.screen .frametop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width : 1200px; 
    height: 142px;
    gap: 96.87px;
    padding-bottom: 70px;
}
.screen .icon-place{
    width: fit-content;
    height: fit-content;
}
.screen .buttons{
    width: 350px;
    height: 142px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.screen .community-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    border-radius: 20px;
    font-size: 25px;
    color: #FF8128;
    border: 1px solid #FF8128;
    background-color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    z-index: 1; /* Add z-index to ensure it is clickable */
}


.buttons a:hover {
    background-color: #FF8128;
    color: #FFFFFF;
}

.screen .post-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 26.37px;
    width: 1200px;
    height: 650px;
    background-color: #FFFFFF;
    opacity: 0.7;
    gap : 20px;
    border-radius: 30px;

}
.screen .post-username{
    width: fit-content;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 10px;
}
.screen .lotus-username{
    width: 30px;
    height: 25px;
}
.screen .db_username{
    width: fit-content;
    font-size: 30px;
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}
.screen .text-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1200px;
    height: fit-content;
    gap: 25px;
    padding-bottom: 20px;
}

.screen .post-time,
.screen .post-title,
.screen .post-content,
.screen .content-box{
    width: 1200px;
    height: 30px;
    padding-left: 100px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.screen .img-time,
.screen .img-title,
.screen .img-content,
.screen .img-like{
    width: fit-content;
    height: fit-content;
}
.screen .db_time,
.screen .db_title{
    font-size: 25px;
    font-weight: 400px;
}
.screen .ok108{
    font-size: 25px;
    color: #FF8128;
    font-weight: 800;
}
.screen .long-bar {
    position: relative;
    width: 1150px;
    height: 0px;
    border-top: 1px solid #d9d9d9; 
}
.screen .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.screen .content-box{
    width: 1060px;
    min-height: 250px;
    height: fit-content;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.screen .db_content{
    font-size: 22px;
    font-weight: 500px;
    color: #606060;

}

.screen .icons{
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 110px;
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}

.screen .likes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 40px;
    gap: 10px;
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
    padding-right: 10px;
}
.screen .img-like{
    width: fit-content;
    height: fit-content;
}
.screen .db_like{
    font-size: 20px;
    
    color: #000000;
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}

.screen .img-detail{
    width: fit-content;
    height: fit-content;
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}
.screen .deletebox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.screen .delete{
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#777777;
}