        body{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            margin: 0;
            background-image: url('https://ifh.cc/g/pky7cp.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'GamtanRoadDotum', sans-serif;
            font-weight: bold;
        }
        body {
            animation: fadein 2s forwards; /* 애니메이션 실행 */
        }
        a {
            text-decoration: none;
        }
        body {
            font-family: 'GamtanRoadDotum', sans-serif;
            font-weight: bold;
        }
        @keyframes fadein {
            0%, 15% {
            background-color: #ffffff;
            opacity: 0; /* 0%부터 15%까지 투명도 유지 */
            }
            100% {
            opacity: 1; /* 100%에서 투명도 1로 변화 */
            }
        }
        .screen {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 1200px;
        padding-bottom: 90px;
        }
        
        .screen .topnavbar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width : 1200px; 
        height: 120px;
        }
        
        .screen .onjung{
        font-size: 40px;
        font-weight: 600;
        color: #FF6A00;
        }
        
        
        .screen .frame-icon{
        width:1200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 430px;
        }
        
        .screen .icon-wrap{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .screen .icon{
        width: fit-content;
        height: fit-content;
        }
        
        .screen .text-wrapper{
        width: 1200px;
        height: 88px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        }
        
        .screen .text-ask{
        width: fit-content;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #FFFFFF;
        font-weight: 400;
        }
        .screen .text-ask1{
        width: fit-content;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 800;
        color: #FFFFFF;
        }
        
        .screen .frame-userinput{
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 75px;
        padding-right: 75px;
        width: 1200px;
        height: 400px;
        }
        
        .screen .form-future{
        padding-top: 30px;
        padding-bottom: 50px;
        
        width: 1200px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        
        .screen .textbox-future{
            width: 1050px;
            height: 300px;
            position: relative;
        }
        
        .screen .ask-acco{
            width: 1050px;
            height: 300px;
            flex-shrink: 0;
            border-radius: 19.149px;
            opacity: 0.7;
            background: #FFF;
            display:flex;
            font-size: 23px;
            padding-top: 30px;
            padding-left: 30px;
            position: relative;
            resize: none;
        }
        .ask-acco::placeholder{
            color: #999999;
            vertical-align: top;
            
            font-size: 23px;
        }
        
        .screen .submit-button {
            width: 143.47px;
            height: 62.7px;
            flex-shrink: 0;
            border-radius: 19.149px;
            background: #2A1400;
            color: white;
            position: absolute;
            bottom: 10px;
            right: 10px;
            font-size: 25px;
            font-weight: 800;
        
        }
        
        
        
        