/* body {
    display: flex;
    width: 100vw;
    min-height: 1080px;
    background: #FFF; */
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    /* align-items: center; */
    /*배경화면 url 넣는 코드 */
    /* background-image: url('https://ifh.cc/g/B3C9wK.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   */


/* } */


/* .onjung {
    color: #FF80DB;
        font-family: "GamtanRoad Batang TTF";
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 49.01px;
        margin-left: 360.42px;
    
    
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    margin: 0;
    background-image: url('https://ifh.cc/g/B3C9wK.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}


.screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    padding-bottom: 90px;
}

body .topnav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width : 1200px; 
    height: 120px;
    
}

body .onjung{
    font-size: 40px;
    font-weight: 600;
    color: #FF6A00;
}

#text-center {
    text-align: center;
font-family: "GamtanRoad Dotum TTF";
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 64.34px;

}

.text-center1 {
    margin-bottom: 50px;
}

.text-center1 span {
color: #FF6C05;
}

svg {
    display: flex;
    justify-content: center;
    width: 199.458px;
    height: 240.668px;
    flex-shrink: 0;
    margin-top: 52.78px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allbutton {
    display: flex;
    gap: 39.68px;
    
}

.button_cham{
    margin-top: 52.78px;
    width: fit-content;
    height: fit-content;
    padding: 20px 71px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 18.787px;
background: linear-gradient(90deg, #FCBE92 0%, #F5914A 100%);
border: none;
display:flex;
    text-align: center;
    align-items:center;
    text-decoration: none;
}

.button_main {
    margin-top: 52.78px;
    width: fit-content;
    height: fit-content;
    padding: 20px 71px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 18.787px;
    border: 2px solid var(--Color-2, #F38C43);
display:flex;
    text-align: center;
    align-items:center;
    text-decoration: none;
    background-color:transparent;
    color: var(--Color-2, #F38C43);

}

button:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
}


#ipjang-text {
    font-family: "GamtanRoad Dotum TTF";
    text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.80) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: flex;


}


#ipjang-text2 {
    font-family: "GamtanRoad Dotum TTF";
    text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* background: linear-gradient(180deg,  #F38C43 0%,  #F38C43(255, 255, 255, 0.80) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
display: flex;


}

.say {
    position: relative;
    margin-bottom: 10px;
}

.content1{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate( -50%, -50% );
    color: black;
    width: 100%;
    gap: 10px;
    line-height: 40px;

}

/*자연스러운 페이지 전환*/
body {
    animation: fadein 2s forwards; /* 애니메이션 실행 */
  }
  
  @keyframes fadein {
    0%, 15% {
      background-color: #ffffff;
      opacity: 0; /* 0%부터 15%까지 투명도 유지 */
    }
    100% {
      opacity: 1; /* 100%에서 투명도 1로 변화 */
    }
  }

  a {
    text-decoration-line: none;
}
/*자연스러운 페이지 전환 효과 @@@여기야 여기@@@*/

