/* body {
    width: 100vw;
min-height: 1080px;
background-image: url(https://ifh.cc/g/T1L3zR.png) ;
height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  

} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: fit-content; */
    margin: 0;
    background-image: url('https://ifh.cc/g/T1L3zR.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    padding-bottom: 90px;
}

body .topnav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width : 1200px; 
    height: 120px;
    
}
body .onjung{
    font-size: 40px;
    font-weight: 600;
    color: #FF6A00;
}

#acoong {
    display: flex;
    justify-content: center;
    /* margin-top: 139.53px; */

}



#nemo {
    width: 400px;
height: 600px;
flex-shrink: 0;
background: #FBBC35;
display: flex;
justify-content: center;

}

.column {
    display: flex;
    flex-direction: column;
    gap: 42.58px;
}

#three_buttons {
    width: 1000px;
height: 54px;
display: inline-flex;
justify-content: center;
gap: 57px;
padding-top: 31.59px;
}

#btn {
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    
}

#btn_img {
    width: 39.75px;
height: 40.5px;
flex-shrink: 0;
}

#btn_text {
    font-family: "GamtanRoad Dotum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
    color:#FF8128;

}

.malmal {
    width: 273px;
}

#btn a{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}

/*자연스러운 페이지 전환*/
body {
    animation: fadein 2s forwards; /* 애니메이션 실행 */
  }
  
  @keyframes fadein {
    0%, 15% {
      background-color: #ffffff;
      opacity: 0; /* 0%부터 15%까지 투명도 유지 */
    }
    100% {
      opacity: 1; /* 100%에서 투명도 1로 변화 */
    }
  }

  a {
    text-decoration-line: none;
}
/*자연스러운 페이지 전환 효과 @@@여기야 여기@@@*/

