body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: fit-content; */
    margin: 0;
    background-image: url('https://ifh.cc/g/T1L3zR.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    padding-bottom: 90px;
}

body .topnav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width : 1200px; 
    height: 120px;
    
}

body .onjung{
    font-size: 40px;
    font-weight: 600;
    color: #FF6A00;
}

.text {

text-align: center;
font-family: "GamtanRoad Dotum TTF";
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 148.148% */
justify-content: center;
/* margin-top: 193.21px; */

}

.text1 {
    margin-bottom: 70px;
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;

}

#nemobox {
    display: flex;
    justify-content: center;
    margin-bottom: 43.5px;
    margin-top: 70.34px;
   
}

.nemobox1{
    display: inline-flex;
    padding: 42px 59px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FBBC35;
    color: #A50E09;
    margin-right: 48px;

/* 부적 */
font-family: "Kyobo Handwriting 2023";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nemobox2{
    display: inline-flex;
    padding: 42px 59px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FBBC35;
    color: #A50E09;
    margin-right: 48px;

/* 부적 */
font-family: "Kyobo Handwriting 2023";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nemobox3{
    display: inline-flex;
    padding: 42px 59px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FBBC35;
    color: #A50E09;
    margin-right: 48px;

/* 부적 */
font-family: "Kyobo Handwriting 2023";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nemobox4{
    display: inline-flex;
    padding: 42px 59px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FBBC35;
    color: #A50E09;
    margin-right: 48px;

/* 부적 */
font-family: "Kyobo Handwriting 2023";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nemobox5{
    display: inline-flex;
    padding: 42px 59px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FBBC35;
    color: #A50E09;
    margin-right: 48px;

/* 부적 */
font-family: "Kyobo Handwriting 2023";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/* 
.review-container {
    width: 1044.754px;
    height: 303.374px;
    flex-shrink: 0;
    border-radius: 19.149px;
background: #FFF;
    position: relative;
    margin-left: 437.62px;
    border: 1px solid black;
} */

/* button {
    width: 85.015px;
    height: 58.063px;
    flex-shrink: 0;
    border-radius: 19.149px;
    background: #2A1400;
color: white;
position: absolute;
right: 10px;
bottom: 10px;
} */

.container {
    padding-top: 49.97px;
}

/* .review-container {
    width: 1044.754px;
    height: 265.978px;
    flex-shrink: 0;
    border-radius: 19.149px;
background: #FFF;
    position: relative;
}

.review-box {
    color: #838383;
text-align: left;
font-family: "GamtanRoad Batang TTF";
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: flex-start; /* 버튼을 왼쪽 정렬 */
/* }  */

.saytoaco {
    display:flex;
    position: relative;

}

/* .review-box {
    width: 1044.754px;
    height: 265.978px;
    flex-shrink: 0;
    border-radius: 19.149px;
opacity: 0.7;
background: #FFF;
display:flex;
text-align: start;


}

button {
    width: 142.757px;
    height: 55.591px;
    flex-shrink: 0;
    border-radius: 19.149px;
    background: #2A1400;
color: white;
position: absolute;
bottom: 10px;
right: 10px;

} */

#review-form {
    display: flex;
    position: relative;
}

.review-box {
    width: 1044.754px;
    height: 265.978px;
    flex-shrink: 0;
    border-radius: 19.149px;
opacity: 0.7;
background: #FFF;
text-align: start;
resize: none;
border: none;
padding: 10px;
display: flex;
position: relative;
font-size: 23px;


}

button {
    width: 142.757px;
    height: 55.591px;
    flex-shrink: 0;
    border-radius: 19.149px;
    background: #2A1400;
color: white;
position: absolute;
bottom: 10px;
right: 10px;
font-family: 'GamtanRoadDotum', sans-serif;
font-weight: bold;
}

.submit-button {
    font-size: 20px;
}

.textbottom {
    display: flex;
    position: relative;
   left: -300px;
    color: #000;
    text-align: center;
    font-family: "GamtanRoad Dotum TTF";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
}

  
  .click {
    background-color: #fc9937;
  }

.nemobox1:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
position: relative;
top:2px;
}   

.nemobox2:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
position: relative;
top:2px;
}   
.nemobox3:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
position: relative;
top:2px;
}   
.nemobox4:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
position: relative;
top:2px;
}   
.nemobox5:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
position: relative;
top:2px;
}   

/*자연스러운 페이지 전환*/
body {
    animation: fadein 2s forwards; /* 애니메이션 실행 */
  }
  
  @keyframes fadein {
    0%, 15% {
      background-color: #ffffff;
      opacity: 0; /* 0%부터 15%까지 투명도 유지 */
    }
    100% {
      opacity: 1; /* 100%에서 투명도 1로 변화 */
    }
  }

a {
    text-decoration-line: none;
}
/*자연스러운 페이지 전환 효과 @@@여기야 여기@@@*/

/* .content1 span {
    color: var(--Color, #FF6A00);
font-family: "GamtanRoad Dotum TTF";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;

} */

