:root {
    ---font-family: "Inter", Helvetica;
    ---font-weight: 400;
    ---font-size: 18px;
    ---letter-spacing: 0px;
    ---line-height: normal;
    ---font-style: normal;
    --text-font-family: "Inter", Helvetica;
    --text-font-weight: 400;
    --text-font-size: 40px;
    --text-letter-spacing: 0px;
    --text-line-height: normal;
    --text-font-style: normal;
  }
  