/* login page - CSS */
/* login page - CSS */
body{
    background-color: #FFEFE4;
    
}
body{
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    
}

.body .topnav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width : 1200px; 
    height: 120px;
    
}
.body .onjung{
    font-size: 40px;
    font-weight: 600;
    color: #FF6A00;
}
.body .frame-login{
    display: flex;
    flex-direction: column; /*여기*/
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.body .text-wrapper{
    position: relative;
    width: fit-content;
    font-family: "Pretendard-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 40px;
    text-align: right;
    letter-spacing: -1px;
    line-height: 32px;
    white-space: nowrap;
}

.body .form-login{
    display: flex;
    flex-direction: column; /*여기*/
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    height: 600px;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}
.body .frame-boxes{
    display: flex;
    flex-direction: column; /*여기*/
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    height: 600px;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}
.body .input-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    gap: 50px;
    width: 1200px;
    height: 370px;
    flex: 0 0 auto;
    background-color: #FFFFFF;
    border-radius: 40px;
}

.body .username,
.body .password{
    width: 950px;
    height: 80px;
}

.body .input-username{
    width: 950px;
    height: 80px;
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF ;
    border-bottom: 5px solid #FAB66D;
    
    color: #000000; /* 텍스트 색상 수정 */
    border-radius: 4px;
    padding: 0 10px; /* 좌우 패딩 추가 */
    box-sizing: border-box;
    line-height: 46px; /* 높이와 동일하게 설정하여 중앙 정렬 */
    font-size: 30px;
    text-align: center;

}


.body .input-password{
    width: 950px;
    height: 80px;
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF ;
    border-bottom: 5px solid #FAB66D;
    
    color: #000000; /* 텍스트 색상 수정 */
    border-radius: 4px;
    padding: 0 10px; /* 좌우 패딩 추가 */
    box-sizing: border-box;
    line-height: 46px; /* 높이와 동일하게 설정하여 중앙 정렬 */
    font-size: 30px;
    text-align: center;


}

.input-username::placeholder,
.input-password::placeholder{
    color: #999999;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;

}

.body .error{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    color: red;
    font-size: 26px;
}
.body .buttons{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 150px;
    gap: 42px;
}

.body .login-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 450px;
    height: 90px;
    color:#FFFFFF;
    background-color: #FF9D56;  
    border-radius: 20px;
    font-size: 35px;
    font-weight: 600;
    border: #FF9D56;
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}
.body .link-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 90px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: 600;
    color:#FFFFFF;
    background-color: #FF9D56;  
    border: 1px solid #FF8128;
    
    text-decoration: none;
    cursor: pointer;
    z-index: 1; /* Add z-index to ensure it is clickable */
    
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}



