/* login page - CSS */
/* login page - CSS */
body{
    background-color: #FFEFE4;
}
body{
    font-family: 'GamtanRoadDotum', sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}
body {
    animation: fadein 2s forwards; /* 애니메이션 실행 */
}

@keyframes fadein {
    0%, 15% {
    background-color: #ffffff;
    opacity: 0; /* 0%부터 15%까지 투명도 유지 */
    }
    100% {
    opacity: 1; /* 100%에서 투명도 1로 변화 */
    }
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    
}
.body .signup-notice{
    display: block;
    position: absolute;
    margin-left: 1250.05px;
    margin-top: -110px;
    margin-bottom: 707.97px;
    margin-right: 43.68px;
    border: 1px solid #FF6A00;
    border-radius: 25px;
    background-color: #FFFFFF;
    opacity: 0.9;
    padding: 20px 30px;
    gap: 35px;
    
}
.body .notice-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 550px;
    height: 130px;
    gap: 35px;  
}
.body .icon .signup-notice {
    display: block
}
.body .line1,
.body .line2{
    width: fit-content;
    height: fit-content;
    font-size: 22px;
    font-weight: 400;
    gap: 20px;
}
.body .text1{
    color: #000000;
}
.body .text2{
    color: #7f7f7f;
}


.body .topnav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width : 1200px; 
    height: 120px;
    
}
.body .onjung{
    font-size: 40px;
    font-weight: 600;
    color: #FF6A00;
}
.body .frame-login{
    display: flex;
    flex-direction: column; /*여기*/
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.body .text-wrapper{
    position: relative;
    width: fit-content;
    font-family: "Pretendard-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 40px;
    text-align: right;
    letter-spacing: -1px;
    line-height: 32px;
    white-space: nowrap;
}

.body .form-login{
    display: flex;
    flex-direction: column; /*여기*/
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    height: 1000px;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}
.body .frame-boxes{
    display: flex;
    flex-direction: column; /*여기*/
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    height: 1000px;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}
.body .input-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    gap: 50px;
    width: 1200px;
    height: 521px;
    flex: 0 0 auto;
    background-color: #FFFFFF;
    border-radius: 40px;
}
.body .username-guide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    color:#000000;
    gap: 10px;
    padding-bottom: 10px;
    position: relative;
}
.body .password-guide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    padding-bottom: 10px;
}
.body .guide-text{
    font-size: 30px;
}
.body .icon{
    width: fit-content;
    height: fit-content;
}

.body .username,
.body .password{
    width: 950px;
    height: 175px;
    gap: 50px;
}

.body .input-username{
    width: 950px;
    height: 80px;
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF ;
    border-bottom: 5px solid #FAB66D;
    
    color: #000000; /* 텍스트 색상 수정 */
    border-radius: 4px;
    padding: 0 10px; /* 좌우 패딩 추가 */
    box-sizing: border-box;
    line-height: 46px; /* 높이와 동일하게 설정하여 중앙 정렬 */
    font-size: 30px;
    text-align: center;

}


.body .input-password{
    width: 950px;
    height: 80px;
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF ;
    border-bottom: 5px solid #FAB66D;
    
    color: #000000; /* 텍스트 색상 수정 */
    border-radius: 4px;
    padding: 0 10px; /* 좌우 패딩 추가 */
    box-sizing: border-box;
    line-height: 46px; /* 높이와 동일하게 설정하여 중앙 정렬 */
    font-size: 30px;
    text-align: center;


}

.input-username::placeholder,
.input-password::placeholder{
    color: #999999;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;

}

.body .error{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    color: red;
    font-size: 26px;
    font-weight: 600;
    padding-top: 10px;
}
.body .buttons{
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 150px;
    gap: 42px;
}

.body .login-submit,
.body .link-signup{
    position: relative;
    width: 450px;
    height: 90px;
    color:#FFFFFF;
    background-color: #FF9D56;  
    border-radius: 20px;
    font-size: 35px;
    font-weight: 600;
    border: #FF9D56;
}


