<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/globals.css" %}" />
    <link rel="stylesheet" href="{% static "css/mainpage_css/style.css" %}"/>

  </head>
  <body>
    <div class="macbook-pro">
        <div class="overlap">
          <div class="overlap-group">
            <div class="group">
              <div class="frame">
                <div class="element" > <a class="text-wrapper-3" href="{% url "post:start_108" %}">부처님께 108배 드리고<br/>소원빌기/회고하기</a></div>
              </div>
              
              <div class="frame">
                <div class="element" > <a class="text-wrapper-3" href="{% url "post:community_108" %}">번뇌 게시판</a></div>
              </div>

            </div>

            <div class="rectangle"></div>
            <div class="text-wrapper">온정</div>
            <p class="div">내 마음의 방향을 잡아줄 온라인 정각원</p>
            <div class="div-wrapper">
              {% if user.is_authenticated %}
                <!-- 로그인 시 보이는 화면-->
                <a class="nav-link-account">
                  <a class="nav-link-user">{{user.username}}님 환영합니다! &nbsp</a> 
                  <a href="{% url "accounts:logout" %}">로그아웃 &nbsp</a> 
                </a>
                {% else %}
                <!-- 로그아웃 시 보이는 화면-->
                <a class="nav-link-account">
                  <a href="{% url "accounts:login" %}" method="GET" >로그인 &nbsp</a>
                </a>
                <a class="nav-link-account">
                  <a href="{% url "accounts:signup" %}" method="GET" >회원가입 &nbsp</a>
                </a>
                {% endif %}
          </div>

          <div class="group-wrapper"><img class="img" src="{% static "images/mainpage_img/onjung.png" %}" /></div>
            <img class="element-2" src="{% static "images/mainpage_img/roof.png" %} "/>
            <img class="vector" src="{% static "images/mainpage_img/vector-68.svg"%} "/>
            <div class="rectangle-2"></div>
            <img class="vector-2" src="{% static "images/mainpage_img/vector-68.svg" %} "/>
            <div class="rectangle-3"></div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <img class="element-3" src="{% static "images/mainpage_img/house.png" %} " /> <img class="group-2" src="{% static "images/mainpage_img/acho.png" %} " />
              </div>
            </div>
          </div>

          <div class="overlap-2">
            <div class="frame-wrapper">
              <div class="frame-2"><div class="text-wrapper-3">스님께 부적 받기</div></div>
            </div>
            <div class="group-3">
              <div class="overlap-group-2">
                <img class="element-3" src="{% static "images/mainpage_img/house.png" %} " /> <img class="group-2" src="{% static "images/mainpage_img/acho.png" %} " />
              </div>
            </div>
          </div>
          <div class="overlap-3">
            <div class="rectangle-4"></div>
            <div class="frame-3"><a class="text-wrapper-3" href ="{% url "post:future" %}">미래 들여다보기</div></div>
            <div class="frame-4"><a class="text-wrapper-3" href="{% url "post:past" %}">과거를 참회하기</a></div>
            <div class="group-3">
              <div class="overlap-group-2">
                <img class="element-3" src="{% static "images/mainpage_img/house.png" %} " /> <img class="group-2" src="{% static "images/mainpage_img/acho.png" %} " />
              </div>
            </div>
          </div>
          <div class="group-4">
            <div class="group-5">
              <div class="overlap-group-3">
                <div class="group-6">
                  <img class="codicon-music" src="{% static "images/mainpage_img/codicon-music.svg" %} " />
                  <div class="text-wrapper-4">BGM ON/OFF</div>
                </div>
                <div class="rectangle-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div> 
  </body>
</html>
