<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/mainpage.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mainpage-온정</title>
</head>
<body>
    <div class="screen">
        <div class="title">
            <div class="title-group">
                <img class="img-title" alt="안뜸" src="{% static 'images/mainpage_img/img-title.png' %}" />
                <div class="buttons">
                    <a class="login-button" href="{% url 'accounts:login' %}">로그인</a>
                    <a class="signup-button" href="{% url 'accounts:signup' %}">회원가입</a>
                </div>
            </div>
            <div class="bgm-button">
                <img class="img-bgm" alt="안뜸" src="{% static 'images/mainpage_img/img-bgm.png' %}" />
            </div>
        </div>
        <div class="menus">
            <div class="menu-box">
                <div class="img-menu">
                    <img class="img-menu1" alt="안뜸" src="{% static 'images/mainpage_img/img-menu1.png' %}" />
                </div>
                <div class="link-future">
                    <a class="text-wrapper-3" href="{% url 'post:future' %}">
                        <img class="menu-future" alt="안뜸" src="{% static 'images/mainpage_img/menu-future.png' %}" />
                    </a>
                </div>
                <div class="link-past">
                    <a class="text-wrapper-3" href="{% url 'post:past' %}">
                        <img class="menu-past" alt="안뜸" src="{% static 'images/mainpage_img/menu-past.png' %}" />
                    </a>
                </div>
            </div>
            <div class="menu-box2">
                <div class="img-menu">
                    <img class="img-menu2" alt="안뜸" src="{% static 'images/mainpage_img/img-menu2.png' %}" />
                </div>
                <div class="link-talisman">
                  <a class="text-wrapper-3" href="{% url 'post:talisman' %}">
                    <img class="menu-talisman" alt="안뜸" src="{% static 'images/mainpage_img/menu-talisman.png' %}" />
                  </a>
                </div>
                <div class="link-talisman">
                    <img /> <!--위치 맞추려고 해놓음-->
                </div>
            </div>
            <div class="menu-box">
                <div class="img-menu">
                    <img class="img-menu3" alt="안뜸" src="{% static 'images/mainpage_img/img-menu3.png' %}" />
                </div>
                <div class="link-108">
                    <a class="text-wrapper-3" href="{% url 'post:start_108' %}">
                        <img class="menu-108" alt="안뜸" src="{% static 'images/mainpage_img/menu-108.png' %}" />
                    </a>
                </div>
                <div class="link-community">
                    <a class="text-wrapper-3" href="{% url 'post:community_108' %}">
                        <img class="menu-community" alt="안뜸" src="{% static 'images/mainpage_img/menu-community.png' %}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
